
 <form [formGroup]="votingForm" (ngSubmit)="onSubmit()">
  <h2 class="display-4">{{voting?.question?.desc}}</h2>

  <div class="form-check" formArrayName="options" *ngFor="let option of votingForm.controls.options.controls; let i = index">
    <input class="form-check-input" type="checkbox" [formControlName]="i">
    <label class="form-check-label" for="defaultCheck1">
      {{optionsData[i].option}}
    </label>
    <br>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
