<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/divider.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/breadcrumb.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/form.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/header.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/table.css">
</head>

<nav style="margin-bottom:5%">
    <div class="ui breadcrumb">
      <a href="/" class="section">Home</a>
      <i class="right angle icon divider"></i>
      <a href="{% url 'listCensus' %}" class="active section">Census</a>
	  <i class="right angle icon diver"></i>
	  <a href="" class="active section">Move Voters</a>
    </div>
  </nav>


<br/>

<h3 class="ui center aligned header">Move Voters</h3>

<h4>Estamos en la votación: {{voting_id}}</h4>

<p>En esta votación están los votantes: {{voters}}</p>

<p>Podemos mover los votantes a estas votaciones existentes: {{votings}}</p>

<p>Ó podemos mover los votantes a una nueva votación</p>

<form action="{% url 'moveVoters' %}" method="get" class="ui form container">
    <div class="field">
      <h4>Introduce a continuación el numero de la votación a la que quieres mover los votantes</h4>
        <input type="number" name="voting_id" placeholder="{{census.voting_id}}" style="width:80%"/>
    </div>
    </br>
    </br>
    <input type="hidden" name="id" value="{{census.id}}" />
	<input type="hidden" name="voters" value="{{voters}}"/>
	<input type="hidden" name="votings" value="{{votings}}"/>
    <button class="ui primary button" type="submit">Save</button> 
    <a class="ui button" href="{% url 'listCensus' %}" >Back</a>
 </form> 

<div>
<br>
<br>
<td><a href="{% url 'listCensus' %}" class="waves-effect waves-light btn">Back</a></td>
</div>




