<div class="container">
  <h1>
    Login
  </h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >

      <div class="form-group">
            <label>Username:</label>
            <input class="form-control" formControlName="username"  id="username"
                       name='username'/>
            <div class="alert alert-danger"
            *ngIf="registerForm.get('username').invalid && (registerForm.get('username').touched || registerForm.get('username').dirty)">
              Username required
            </div>
      </div>

      <div class="form-group">
          <label>Password:</label>
          <input type="password" formControlName="password" class="form-control" />
          <div class="alert alert-danger"
            *ngIf="registerForm.get('password').invalid && (registerForm.get('password').touched || registerForm.get('password').dirty)">
              Password required
          </div>
      </div>

      <div class="form-group">
        <button [disabled]="registerForm.get('password').invalid || registerForm.get('username').invalid" class="btn btn-primary">Login</button>
      </div>

  </form>
</div>
